.formContainer {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 1rem;
  width: 70%;
  border-radius: 1rem;
  margin-bottom: 1rem;
  background-color: white;
}

@media only screen and (max-width: 600px) {
  .formContainer {
    width: 100%;
    border-radius: 0px;
  }
}
